astroid==2.11.5
atomicwrites==1.4.0
attrs==21.4.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
customtkinter==4.0.2
darkdetect==0.6.0
dataclasses==0.6
dataframe2ndjson==0.0.1
dataframe-column-identifier==0.0.5
dataframe-generator==0.1.0
DateTime==4.4
decorator==5.1.1
dill==0.3.5
et-xmlfile==1.1.0
Flask==2.1.2
future==0.18.2
geocoder==1.38.1
html2list==0.1.6
html5lib==1.1
idna==3.3
importlib-metadata==4.11.4
iniconfig==1.1.1
IPy==1.1
isort==5.10.1
itsdangerous==2.1.2
jdcal==1.4.1
Jinja2==3.1.2
json2==0.4.0
lazy-object-proxy==1.7.1
lxml==4.8.0
MarkupSafe==2.1.1
mccabe==0.7.0
multitasking==0.0.10
mypy==0.961
mypy-extensions==0.4.3
numpy==1.22.3
openpyexcel==2.5.14
openpyxl==3.0.10
packaging==21.3
pandas==1.4.2
patsy==0.5.2
Pillow==9.1.1
pip==22.1.1
platformdirs==2.5.2
playsound==1.2.2
plotly==5.8.0
plotly-express==0.4.1
pluggy==1.0.0
py==1.11.0
PyExecJS==1.5.1
pylint==2.13.9
pyparsing==3.0.9
pyperclip==1.8.2
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
pywin32==304
ratelim==0.1.6
requests==2.27.1
scipy==1.8.1
setuptools==49.2.1
six==1.16.0
statsmodels==0.13.2
tenacity==8.0.1
tkinterhtml==0.7
tkintermapview==1.11
tkintermessenger==0.0.9
tomli==2.0.1
typing_extensions==4.2.0
urllib3==1.26.9
webencodings==0.5.1
Werkzeug==2.1.2
wrapt==1.14.1
xlrd==2.0.1
XlsxWriter==3.0.3
yfinance==0.1.70
zipp==3.8.0
zope.interface==5.4.0
